header {
  background-color: #070707;
  color: rgb(8, 26, 189);
  padding: 20px;
  text-align: center;   /* Center everything inside header */
}

/* Heading */
header h1 {
  margin: 0;
  font-size: 28px;
}

/* Navbar */
header nav {
  margin-top: 10px;
  text-align: center;
}

/* Links */
header nav a {
  color: rgb(113, 29, 203);
  font-size: 18px;
  margin: 0 10px;   /* equal spacing both sides */
  text-decoration: none;
}

/* Hover effect */
header nav a:hover {
  text-decoration: underline;
}

/* Navigation bar background */
.navigation {
  background-color: aqua;
  text-align: center;
}